:root {
    --sky-blue: #7FD1F6;
    --dark-skb: #6ec9f3;
    --dark-blu: #012653;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}
body {
  padding-top: 87px;
}

/* Width of scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

/* Track (background) */
body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Thumb (the slider itself) */
body::-webkit-scrollbar-thumb {
  background-color: var(--sky-blue);
  border-radius: 6px;
  border: 2px solid #f0f0f0; /* adds space around */
}

/* Thumb on hover */
body::-webkit-scrollbar-thumb:hover {
  background-color: var(--sky-blue);
}


img { width: 100%; }

.container {
  padding: 40px 80px;
}

.active {
  background-color: var(--sky-blue);
  box-shadow: 0px 0px 6px 0px var(--sky-blue);
}

.btn-sky {
    background-color: var(--sky-blue);
    box-shadow: 0px 0px 10px 0px var(--sky-blue);
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 16px 24px;
    border-radius: 30px;
    i {
      margin-left: 12px;
    }
}

.left, .right {
    max-width: 35%;
}

@media (max-width: 767px) {
  .left, .right {
    max-width: 100%;
  }
  .btn-sky {
    padding: 12px 16px;
  }
  .container {
    padding: 30px 30px;
  }
}

/*------------------------------------- Header -------------------------------------*/
.burger-menu{
  display: none;
  cursor: pointer;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
}

header ul li {
  display: inline-block;
  color: white;
  background-color: var(--dark-blu);
  list-style: none;
  margin-right: 16px;
  margin-top: 8px;
  border-radius: 8px;
  transition: .2s;
}

header ul li a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  text-decoration: none;
}

header ul li i {
  margin-left: 12px;
}

header ul li:hover {
  background-color: var(--sky-blue);
  box-shadow: 0px 0px 6px 0px var(--sky-blue);
}

@media (max-width: 991px) {
  header ul {
    position: fixed;
    display: flex;
    /* visibility: hidden; */
    /* width: 0px; */
    flex-direction: column;
    background-color: var(--dark-blu);
    right: -55%;
    top: 0;
    z-index: 1;
    padding: 60px 20px;
    height: 100vh;
    transition: ease right 0.3s;
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 28px;
    color: var(--dark-skb);
    position: relative;
    z-index: 2;
  }
  .show {
    right: 0;
  }
}

/*------------------------------------- Header -------------------------------------*/
/*------------------------------------- Story -------------------------------------*/

.story-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.story-info .left h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}

.story-info .left p {
    margin-bottom: 12px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .story-info .left h3 {
        font-size: 24px;
    }
    .story-info {
        display: block;
    }
    .story-info .left p {
        font-size: 14px;
    }
}

/*------------------------------------- Story -------------------------------------*/
/*------------------------------------- Ent -------------------------------------*/

.ent .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ent .banner .right h2{
    font-family: 'Pattaya', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    span {
        color:var(--sky-blue);
        font: inherit;
    }
}
.ent .banner .right p {
    color: #646464;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .ent .banner .right h2 {
        font-size: 32px;
    }
    .ent .banner .right p {
        font-size: 16px;
    }
}
/*------------------------------------- Ent -------------------------------------*/
/*------------------------------------- Categories -------------------------------------*/

.categories h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.categ-cards {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.card {
    /* padding: 10px; */
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    position: relative;
}

.card button {
    position: absolute;
    bottom: 16px;
    left: 12px;
    border-radius: 7px;
    border: none;
    padding: 10px 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    color: var(--dark-blu);
    font-weight: bold;
    cursor: pointer;
    i {
        font-size: 20px;
        transition: all 0.2s;
    }
}

.card button:hover i {
    transform: translateX(8px);
}

@media (max-width: 767px) {
    .categories h2 {
        font-size: 19px;
    }
    .card {
        /* padding: 10px; */
        max-width: 45%;
        min-width: 45%;
        position: relative;
    }
    .card button {
        padding: 6px 8px;
        font-size: 12px;
        width: 85%;
    }
}

/*------------------------------------- Categories -------------------------------------*/
/*------------------------------------- Products -------------------------------------*/

.products h2 {
    font-size: 24px;
    text-align: center;
}

.products p {
    font-size: 12px;
    text-align: center;
    margin-bottom: 12px;
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

@media (max-width: 767px) {
    .products h2 {
        font-size: 24px;
    }
}

/*------------------------------------- Products -------------------------------------*/
/*------------------------------------- FollowUs -------------------------------------*/

.follow-us {
    background: linear-gradient(to right, #7891B3, #B4C5D9, #F0F9FF, #D2DFEC);
    padding: 40px 0;
}

.follow-images h2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
    span {
        color:var(--sky-blue);
        font: inherit;
    }
}

.follow-images p {
    color: #646464;
    margin-bottom: 32px;
    text-align: center;
}

.follow-images .imgs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    div {
        max-width: 15%;
        z-index: 2;
    }
}

.follow-images .imgs::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--dark-blu);
    bottom: -10%;
    right: 7%;
    z-index: 1;
}

.follow-images .imgs::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--dark-blu);
    top: -10%;
    left: 7%;
    z-index: 1;
}

@media (max-width: 767px) {
    .follow-images h2 {
        font-size: 24px;
    }
    .follow-us p {
        font-size: 12px;
    }
    .follow-images .imgs::after {
        height: 50px;
        width: 50px;
        bottom: -9%;
        right: -6%;
    }
    .follow-images .imgs::before {
        height: 50px;
        width: 50px;
        top: -14%;
        left: -6%;
    }
    .follow-images .imgs div {
        max-width: 30%
    }
}

/*------------------------------------- FollowUs -------------------------------------*/

/*------------------------------------- Footer -------------------------------------*/

footer {
    background-color: var(--dark-blu);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 32px 20px;
    color: white;
}   

.social .info {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
    p {
        max-width: 35%;
    }
}

.social-icons { 
    display: flex;
    gap: 40px;
    font-weight: bold;
    i {
      margin-right: 10px;
      cursor: pointer;
    }
}

.contact i {
    margin-right: 12px;
}

@media (max-width: 767px) {
  footer {
    padding: 40px 24px 20px;
    gap: 20px;
    font-size: 10px;
  }
  .social .info p {
    max-width: 70%;
  }
  .social .info .logo {
    max-width: 20%;
  }
  .contact i {
    margin-right: 8px;
  }
  footer .contact {
    width: 50%;
  }
  footer .social {
    width: 80%;
  }
}

/*------------------------------------- Footer -------------------------------------*/