:root {
    --sky-blue: #7FD1F6;
    --dark-skb: #6ec9f3;
    --dark-blu: #012653;
    --background-banner: linear-gradient(93.28deg, #7891B3 6.35%, #B4C5D9 32.88%, #F0F9FF 50.82%, #D2DFEC 87.26%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

/* Width of scrollbar */
body::-webkit-scrollbar {
  width: 12px;
}

/* Track (background) */
body::-webkit-scrollbar-track {
  background: #f0f0f0;
}

/* Thumb (the slider itself) */
body::-webkit-scrollbar-thumb {
  background-color: var(--sky-blue);
  border-radius: 6px;
  border: 2px solid #f0f0f0; /* adds space around */
}


img { width: 100%; }

.container {
  padding: 40px 80px;
}

.home-background {
    background-image: url(../assets/home-background.png);
}

.active {
  background-color: var(--sky-blue);
  box-shadow: 0px 0px 6px 0px var(--sky-blue);
}

.path {
    padding: 8px 24px;
    background-color: white;
    border-radius: 20px;
    font-size: 12px;
    margin-top: 12px;
    color: var(--sky-blue);
}

.btn-sky {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    color: white;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 12px 30px;
    border-radius: 40px;
    background: linear-gradient(90deg, var(--sky-blue) 0%, var(--dark-blu) 100%);
    box-shadow: 0px 0px 30px var(--sky-blue);

    span {
        display: inline-block;
    }
    span:nth-child(2) {
        margin-top: 4px;
        font-size: 24px;
    }
}

.left, .right {
    max-width: 35%;
}

@media (max-width: 767px) {
  .left, .right {
    max-width: 100%;
  }
  .btn-sky {
    padding: 6px 12px;
    font-size: 12px;
  }
  .container {
    padding: 30px 30px;
  }
}

/*------------------------------------- Header -------------------------------------*/
.burger-menu{
  display: none;
  cursor: pointer;
}

header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--dark-blu);
    z-index: 10;
}

header .logo {
    height: 4rem;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header ul li{
  background-color: var(--dark-blu);
  box-shadow: 5px 20px 20px 0px #00000040 inset;
  border-radius: 8px;
  transition: .2s;
  margin-right: 16px;
  width: max-content;
}

header ul li a {
  display: inline-block;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 12px;
  font-weight: bold;
  text-decoration: none;
}

header ul li i {
  margin-right: 12px;
}

header ul li:hover, header ul li:focus {
  background-color: var(--sky-blue);
  box-shadow: 0px 0px 6px 0px var(--sky-blue);
}

@media (max-width: 991px) {
  header ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blu);
    right: -55%;
    top: 0;
    z-index: 1;
    padding: 110px 20px;
    height: 100vh;
    transition: ease right 0.3s;

    li {
        margin-bottom: 10px;
        width: 100%;
    }
  }
  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 28px;
    color: var(--dark-skb);
    position: relative;
    z-index: 2;
  }
  .show {
    right: 0;
  }
}

/*------------------------------------- Header -------------------------------------*/

/*------------------------------------- slider -------------------------------------*/

.carousel {
  /* width: 100%; */
  overflow: hidden;
  position: relative;
}

.track {
  display: flex;
  transition: transform 0.5s ease;
}

.track img {
  width: 100%;
  object-fit: cover;
  user-select: none;
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  font-size: 32px;
  font-weight: bold;
  padding: 5px 14px;
  cursor: pointer;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #aaa;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: white;
}

/*------------------------------------- slider -------------------------------------*/

/*------------------------------------- Story -------------------------------------*/

.story-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.story-info .left h3{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 12px;
}

.story-info .left p {
    margin-bottom: 12px;
    font-size: 14px;
}

@media (max-width: 767px) {
    .story-info .left h3 {
        font-size: 24px;
    }
    .story-info {
        display: block;
    }
    .story-info .left p {
        font-size: 14px;
    }
}

/*------------------------------------- Story -------------------------------------*/
/*------------------------------------- Ent -------------------------------------*/

.ent .banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.ent .banner .right h2{
    font-family: 'Pattaya', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 24px;
    span {
        color:var(--sky-blue);
        font: inherit;
    }
}
.ent .banner .right p {
    color: #646464;
    margin-bottom: 24px;
}

@media (max-width: 767px) {
    .ent .banner .right h2 {
        font-size: 32px;
    }
    .ent .banner .right p {
        font-size: 16px;
    }
}
/*------------------------------------- Ent -------------------------------------*/
/*------------------------------------- Categories -------------------------------------*/

.categories h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 32px;
}

.categ-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-x: auto;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

.card {
    padding: 16px;
    width: 20%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 8px 1px #fff;
    text-align: center;

    h3 {
        font-size: 24px;
        font-weight: bold;
        color: var(--dark-blu);
        text-align: center;
    }

    p {
        color: #777;
        font-size: 12px;
        margin-top: 12px;
        text-align: center;
        margin-bottom: 20px;
    }

    button {
        outline: none;
        border: none;
        border-radius: 40px;
        padding: 12px 40px;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        transition: ease all 0.3s;
        color: var(--dark-blu);
        background-color: white;
    }
    a:hover button{
        background-color: var(--dark-blu);
        color: white;
    }
}

@media(max-width: 991px) {
    .card {
        width: 30%;

        button {
            padding: 6px 24px;
            font-size: 12px;
        }

        h3 {
            font-size: 20px;
        }
    }
}
@media (max-width: 767px) {
    .categories h2 {
        font-size: 19px;
    }
    .card {
        width: 45%;

        button {
            padding: 6px 24px;
            font-size: 12px;
        }

        h3 {
            font-size: 20px;
        }
    }
}



/*------------------------------------- Categories -------------------------------------*/
/*------------------------------------- Products -------------------------------------*/

.home-products {
    h2 {
        font-size: 28px;
        text-align: center;
        margin-bottom: 12px;
    }
    p {
        text-align: center;
        font-size: 14px;
        margin-bottom: 24px;
    }
}

.home-products-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

@media (max-width: 767px) {
    .home-products h2 {
        font-size: 24px;
    }
}

/*------------------------------------- Products -------------------------------------*/
/*------------------------------------- FollowUs -------------------------------------*/

/* .follow-us {
    background: linear-gradient(to right, #7891B3, #B4C5D9, #F0F9FF, #D2DFEC);
    padding: 40px 0;
} */

.follow-images h2 {
    font-family: 'Pattaya', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 12px;
    text-align: center;
    span {
        color:var(--sky-blue);
        font: inherit;
    }
}

.follow-images p {
    color: #646464;
    margin-bottom: 32px;
    text-align: center;
}

.follow-images .imgs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    div {
        max-width: 15%;
        z-index: 2;
    }
}

.follow-images .imgs::after {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--dark-blu);
    bottom: -10%;
    right: 7%;
    z-index: 1;
}

.follow-images .imgs::before {
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--dark-blu);
    top: -10%;
    left: 7%;
    z-index: 1;
}

@media (max-width: 767px) {
    .follow-images h2 {
        font-size: 24px;
    }
    .follow-us p {
        font-size: 12px;
    }
    .follow-images .imgs::after {
        height: 50px;
        width: 50px;
        bottom: -9%;
        right: -6%;
    }
    .follow-images .imgs::before {
        height: 50px;
        width: 50px;
        top: -14%;
        left: -6%;
    }
    .follow-images .imgs div {
        max-width: 30%
    }
}

/*------------------------------------- FollowUs -------------------------------------*/


/*------------------------------------- Footer -------------------------------------*/

footer {
    background-color: var(--dark-blu);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 3rem 8rem;
    color: white;
    font-size: 1rem;
}   

.social .info {
    display: flex;
    gap: 10rem;
    margin-bottom: 20px;
    p {
        max-width: 35%;
    }
}

.social-icons { 
    display: flex;
    gap: 40px;
    font-weight: bold;
    i {
      margin-right: 10px;
      cursor: pointer;
    }
}

.contact i {
    margin-right: 12px;
}

@media (max-width: 767px) {
  footer {
    padding: 40px 24px 20px;
    gap: 20px;
    font-size: 10px;
    flex-direction: column;
  }
  .social .info p {
    max-width: 70%;
  }
  .social .info .logo {
    max-width: 20%;
  }
  .contact i {
    margin-right: 8px;
  }
  footer .contact {
    width: 50%;
  }
  footer .social {
    width: 80%;
  }
}

/*------------------------------------- Footer -------------------------------------*/