

.location-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-banner);
    height: 30vh;
}

.location-banner p {
    color: var(--dark-blu);
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
}

.location-background {
    background-image: url(../assets/location-background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
}

.getInTouch {
    color: var(--dark-blu);
    font-family: 'Pattaya', sans-serif;
    /* text-align: center; */
    font-size: 44px;
    padding: 40px 0;
    span {
        color: var(--sky-blue);
        font: inherit;
    }
}


.location-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    textarea {
        outline: none;
        border: 1px solid #B4C5D9;
        border-radius: 12px;
        padding: 12px 10px;
        font-size: 14px;
        font-weight: 500;
        color: #444;
        width: 100%;
        height: 100%;
        resize: none;
        margin-bottom: 24px;
        background-color: transparent;
    }
}

@media (max-width: 991px) {
    .location-banner {
        height: 25vh;
    }
}

@media (max-width: 767px) {
    .getInTouch {
        font-size: 32px;
        text-align: center;
    }
    .location-form-container {
        padding: 35px;
    }
}

/* Width of scrollbar */
textarea::-webkit-scrollbar {
  width: 12px;
}

/* Track (background) */
/* textarea::-webkit-scrollbar-track {
  background: #f0f0f0;
} */

/* Thumb (the slider itself) */
textarea::-webkit-scrollbar-thumb {
  background-color: var(--sky-blue);
  border-radius: 6px;
  border: 2px solid #cbe9fc; /* adds space around */
}

.location-fields-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    margin-bottom: 60px;
    .input-container {
        width: 70%;
        input {
            outline: none;
            border: 1px solid #B4C5D9;
            border-radius: 12px;
            padding: 12px 10px;
            font-size: 16px;
            font-weight: 500;
            color: #444;
            width: 100%;
            background-color: transparent;
            margin-bottom: 24px;
        }
    }
}
.location-form-container label {
    font-size: 18px;
    padding-bottom: 14px;
    display: block;
    padding-left: 1px;
}

@media (max-width: 991px) {
    .location-form-container label {
        font-size: 14px;
    }
    .location-fields-container {
        width: 100%;
        flex-direction: column;
        margin-bottom: 40px;
        .input-container {
            width: 100%;
        }
        .textarea-container {
            width: 100%;
        }
        textarea {
            height: 150px;
        }
    }
}

.textarea-container {
    width: 70%;
    height: 60%;
}

.our-location {
    margin-bottom: 18px;
}

.our-location p {
    font-size: 14px;
    margin-bottom: 12px;
}

.our-location iframe {
    height: 100px;
    width: 80%;
    border: 1px solid var(--sky-blue);
    border-radius: 12px;
}
