.products-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--background-banner);
    height: 35vh;
}
@media (max-width: 900px) {
    .products-banner {
        height: 30vh;
    }
}

.products-banner p {
    color: var(--dark-blu);
    font-family: 'Pattaya', sans-serif;
    font-size: 40px;
}

.chooseUrFav {
    color: var(--dark-blu);
    font-family: 'Pattaya', sans-serif;
    text-align: center;
    font-size: 44px;
    padding: 40px 0;
    span {
        color: var(--sky-blue);
        font: inherit;
    }
}


/*------------------------------------- Products -------------------------------------*/

.products h2 {
    font-size: 24px;
    text-align: center;
}

.products {

    background-image: url(../assets/products-background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.pages {
    display: flex;
    justify-content: center;
    padding: 16px;
    padding-bottom: 24px;
    gap: 10px;

    div{
        background-color: white;
        padding-left: 11px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        font-weight: bold;
        font-size: 16px;
        padding-top: 4px;
        color: var(--dark-blu);
        cursor: pointer;
    }
    div:hover, .active-page {
        background-color: var(--dark-blu);
        color: white;
    }
}

.products-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
}

.category-header {
    text-transform: capitalize;
    color: var(--dark-skb);
    font-size: 24px;
    border-bottom: 1px solid var(--dark-blu);
    padding-bottom: 12px;
}

/*------------------------------------- Products -------------------------------------*/


@media (max-width: 767px) {
    .chooseUrFav {
        font-size: 32px;
    }
}